body{
    margin: 0;
    background-color: #f0f2f5;
    font-family: sans-serif;
}

img{
    max-width: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana;
  }

  header .brand img{
    height: 60px;
    
  }


  header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    transition: 0.6s;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }
  
  header.down{
    background: white;
    padding: 15px 80px;
    
  }
  
  header .brand{
    color: black;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
  }
  
  header .menu{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  header .menu ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header .menu ul li{
      list-style: none;
  }
  
  header .menu a{
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    margin: 0 30px;
    padding: 7px 12px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: color, background;
   
  }
 
  
  header .menu a:hover{
    color: white;
    background: #0d9eff;
    
  }
  

  
  header .btn{
    font-size: 25px;
    cursor: pointer;
    display: none;
  }
  
  .contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 150px;
    width: 100%;
  }

.contenidoinicio{
  padding-top: 140px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.datosinicio{
  width: 80%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 20px;
}

.parrafoagregar{
font-size: 30px;
width: 100%;
background-color: #0d9eff;
color: white;
border-radius: 10px;

}

  .fncliente{
    margin-top: 20px;
    width: 100%;

  }

  .uncliente{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 250px;
    
  }

  .addcliente{
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    position: absolute;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

   
  }
  
  .cncliente{
    width: 600px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    border-bottom:2px solid #bebed2;
  }

  .mensaje-registro{
    position: absolute;
    width: 90%;
    line-height: 1.5em;
    font-size: 1.2em;
    
}



.rellenar{
    background-color: #ff9900d3;
    color: white;
}

.aprobado{
    background-color: #28c913d8;
    color: white;

}

.error{
    background-color: #ff0000dc;
    color: white;
}


.enviarcliente, .borrardatos{
  padding: 10px;
  font-size: 18px;
}


.enviarcliente{
  background-color: #0d9eff;
  color: white;
  border-radius: 5px;
  border: 0;
}

.enviarcliente:hover{
  background-color: #0e86d6;
  content: "agregar xd";
  animation: enviar 1s infinite alternate;
  cursor: pointer;
}


@keyframes enviar{
  from{
    transform: translateY(-5px);
  }
  to{
    transform: translateY(-10px);
  }
}

     

.borrardatos{
  background-color: #e40808;
  color: white;
  border-radius: 5px;
  border: 0;
  
}

.borrardatos:hover{
  background-color: #c20d0d;
  animation: borrar 1s infinite alternate;
  cursor: pointer;
}

@keyframes borrar{
  from{
    transform: translateY(-5px);
  }
  to{
    transform: translateY(-10px);
  }
}


.botonesaddclientes{
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.botonenviar{
  padding-right: 40px;
}

.input-mostrarclientes{
  width:600px;
  max-width: 600px;
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.resultado-clientes{
  text-decoration: none;
  text-decoration-line: none;
  color: black;
  display: block;
  width: 100%;
  background-color: #f0f2f5;
  padding: 5px;
  
}

.resultado-clientes:hover{
  background-color: #0d9eff;
  color: white;
}

.contenedor-resultado-clientes{
  display: none;
  position: absolute;
  flex-direction: column;
  width: 600px;
  max-width: 600px;
}

.impresion-clientes{
  list-style: none;
}
.area-factura{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  
}

.impresion-articulos{
  padding-top: 30px;
}

.mensaje-error{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
 
}

#error-cantidad, #error-descripcion, #error-precio{
  font-size: 15px;
  color: #b60b0b;
  display: none;
  position: absolute;
  
}


#titulo-articulos{
  display: none;
}



.input-factura{
  height: 30px;
  font-size: 17px;
  border-radius: 10px;
  border-color: #0d9eff;
  text-align: center;
  margin: 20px;
  margin-bottom: 0;
  max-width: 100%;
}

#descripcion-producto{
  width: 500px;
  max-width: 100%;
}
#boton-factura{
  background-color: #0d9eff;
  color: white;
  border-radius: 5px;
  border: 0;
  height: 40px;
  padding: 5px;

}

#boton-factura:hover{
  cursor: pointer;
}

#mostrador-de-clientes{
  display: block;
  width: 100%;
  border-radius: 10px;
  border-color: #0d9eff;
  font-size: 17px;
  height: 25px;
}

#mostrador-de-clientes:hover{
  cursor: pointer;
  
}

.datosadmin{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  margin: 30px;
  height: 40px;
}

#facturador{
  border-radius: 10px;
  border-color: #0d9eff;
  height: 25px;
  width: 350px;
  font-size: 17px;
}

.titulo-datos-factura{
  display: flex;
  justify-content: center;
  align-items: center;
  color:#003785;

}

.datoscliente{
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.facturacion{
  height: 30px;
  font-size: 17px;
  border-radius: 10px;
  border-color: #a6cbff;
  text-align: center;
}

.facturacion-id{
  width:120px;
  
  
}

.facturacion-nombre{
  width: 300px;
}

.facturacion-fecha{
  width: 130px;
}

.facturacion-no-factura{
  width: 150px;
}


.fc-id, .fc-nombre, .fc-factura{
  padding-right: 20px;
}



.principio-de-factura{
  padding-top: 10px;
}

#titulo-factura{
  color: #0d9eff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.p-fc{
  font-size: large;
  color: #003785;
}


.formulario-facturacion{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #0d9eff;
  padding-top: 20px;

  
}

.facturación{
  border-radius: 6px;
  border-bottom: none;
  height: 70px;
  background-color: #f0f2f5;
}

#elementos-factura{
  width: 90%;
  margin: auto;
  border: solid #0d0391 1px; 
  -moz-border-radius: 10px; 
  -webkit-border-radius: 10px; 
  border-radius: 10px; 
  -webkit-box-shadow: 0 3px #0d0391; 
  -moz-box-shadow: 0 3px #0d0391; 
  box-shadow: 0 3px #0d0391;
  
  
}

#elementos-factura tr{
   text-align: center;
   justify-content: center;
   vertical-align: top;
}

#elementos-factura th{
  color: #003785;
}

#titulo-cantidad, #titulo-total, #titulo-borrar{
  width: 10%;

}

#titulo-precio{
  width: 15%;
}

#titulo-descripcion{
  width: 55%;
}


.boton-borrar-articulo{
  background-color: #e40808;
  color: white;
  border-radius: 5px;
  border: 0;
  padding: 2px;
  font-size: 15px;
}

.boton-borrar-articulo:hover{
  cursor: pointer;
}

.final-guardar-factura{
  padding: 30px;
  display: flex;
  justify-content: right;
  align-items: flex-end;
}

#final_total{
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  width: 150px;
  color:white;
  background-color: #eb1717;
  border: 0;
}

#titulo-total-final{
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
  border: 0;
  background-color:#0d9eff;
  color: white;
  width: 80px;
}

#boton-guardar-factura{
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  margin-right: 15px;
  border: 0;
  background-color: #0d0391;
  color: white;
}

#boton-guardar-factura:hover{
  cursor: pointer;
}

#error-articulos{
  font-size: 20px;
  color: #b60b0b;
  padding-right: 60px;
  display: none;
  
}
#html-clientes{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

.contenido-clientes{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 80%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

.titulo-clientes{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #0d9eff;
}

#html-editarclientes{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;

}



#tabla-clientes{
  margin: auto;
  border: solid #0d0391 1px; 
  border-collapse: collapse;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  margin-bottom: 70px;
  max-width: 95%;
}

#tabla-clientes td, #tabla-clientes th{
  padding: 5px;
  font-size: 18px;
  border: 1px solid black;
  
}

#tr-th-clientes{
  color: #003785;
}

#tr-td-clientes:hover{
  color: white;
  background: #0d9eff;
}

#mensaje-eliminar{
  width: 250px;
  position: absolute;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  border: 1px solid #003785;
  background-color: #0d9eff;
  color: black;
  display: none;
}

#boton-eliminar-cliente{
  background-color: #e40808;
  color: white;
  font-size: 20px;
  border: none;
  padding: 7px;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 20px;
}

#boton-eliminar-cliente:link, #boton-editar:link, #boton-mostrar-facturas:link, #volver-facturas:link, #boton-articulos:link, #boton-volver-art:link{
  text-decoration: none;
}

#boton-eliminar-cliente:visited, #boton-editar:visited, #boton-mostrar-facturas:visited, #volver-facturas:visited, #boton-articulos:visited, #boton-volver-art:visited{
  text-decoration: none;
}

#boton-no-eliminar{
  background-color: #bebed2;
  color: black;
  font-size: 20px;
  border: none;
  padding: 7px;
  border-radius: 5px;
}

#boton-eliminar-cliente:hover, #boton-no-eliminar:hover{
  cursor: pointer;
}

#boton-editar{
background-color: #bebed2;
color: black;
font-size: 17px;
padding: 5px;
border-radius: 5px;
}

#boton-tabla-teliminar{
  background-color: #e40808;
  color: white;
  font-size: 17px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  }

  #boton-tabla-teliminar:hover{
    cursor: pointer;
  }

  #input-buscar-cliente{
    width: 500px;
    border-radius: 10px;
    font-size: 18px;
    height: 25px;
    text-align: center;
    margin-bottom: 40px;
  }

  .contenido-editarcliente{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 50%;
    background-color: white;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    

  }
.formularios-editar-cliente{
  padding: 20px;
}
.inputs-editar-clientes{
  padding: 10px;
}
.inputs-editar-clientes p{
  font-size: 20px;
  color: #003785;
}

.inputs-editar-clientes input{
  font-size: 20px;
  width: 300px;
  border-radius: 5px;
  height: 25px;
  border-color:  #0d9eff;

}

#titulo-editar{
  color: #0d9eff
}

.botones-editar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 20px;
}

#guardar-edit, #cancelar-edit:link{
  text-decoration: none;
}

#guardar-edit, #cancelar-edit:visited{
  text-decoration: none;
}

#guardar-edit{
  font-size: 20px;
  padding: 5px;
  background-color: #0d9eff;
  color: white;
  border-radius: 5px;
  margin-right: 20px;
  border: none;
}
#guardar-edit:hover{
  cursor: pointer;
}

#cancelar-edit{
  font-size: 20px;
  padding: 5px;
  background-color: #e40808;
  color: white;
  border-radius: 5px;
  
}

#contenedor-html-clientes-estadocuenta{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#mostrador-clientes-estadocuenta{
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 80%;
  padding: 40px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}

#html-facturas{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#contenido-facturas{
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

#titulo-clientes-estado{
  color: #0d9eff;
}

#input-buscar-cliente-estado{
  width: 500px;
    border-radius: 10px;
    font-size: 18px;
    height: 25px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
    border-color: #e40808;
    
}

#tabla-clientes-estado{
  border-collapse: collapse;
  font-size: 18px;
  max-width: 95%;
  border: 1px solid #0d0391;
  text-align: center;
  

}

#tabla-clientes-estado, td, th{
  padding: 5px;
}

#tabla-clientes-estado th{
  background-color: #003785;
  color: white;
  margin: 5px;
}

#tr-td-clientes-estado{
  background-color: #d8d8f0;
  
}


#tr-td-clientes-estado:hover{
  background-color: #888899;

}
#boton-mostrar-facturas{
  background-color:#003785;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 3px;
  font-size: 16px;
}

#titulo-facturas{
  color: #0d9eff;
}

#tabla-facturas{
  margin-top: 20px;
  border-collapse: collapse;
  text-align: center;
  font-size: 20px;

}

#tabla-facturas th{
  background-color:#003785;
  color: white;
}
#tabla-facturas td{
  background-color: #a6cbff;
}

#tr-factura:hover{
  color: #b60b0b;
}

#volver-facturas{
  font-size: 20px;
  padding: 5px;
  background-color: #b60b0b;
  color: white;
  margin-top: 25px;
  border-radius: 5px;

}

#boton-articulos{
  font-size: 15px;
  padding: 5px;
  background-color:#0d0391;
  color: white;
  margin-top: 25px;
  border-radius: 5px;
}

#html-articulos{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#contenido-articulos{
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 80%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

#titulo-articulos-fc{
  color: #0d0391;
}

#tabla-articulos-fc, td, th{
  
  border-collapse: collapse;
  
}

#tabla-articulos-fc{
  margin-top: 30px;
  font-size: 18px;
  text-align: center;

}

#tabla-articulos-fc th{
  background-color: #0d9effb4;
}

#tabla-articulos-fc td{
  background-color: #a6cbffa2;
}

#tr-articulos:hover{
  background-color: #888899;
}

#boton-volver-art{
  font-size: 20px;
  padding: 5px;
  background-color: #b60b0b;
  color: white;
  margin-top: 25px;
  border-radius: 5px;
}

#htmlrecibo{
  margin-top: 170px;
  display: flex;
  justify-content: center;
}

#mensaje-pago{
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 150px;
  width: 300px;
}

#mensaje-abono{
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 150px;
  width: 300px;
}

#boton-error-recibo{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#error-procesar-facturas{
  display: none;
  position: absolute;
}

#error-abono, #error-procesar-abono, #error-abono-0{
  display: none;
  position: absolute;
}
#recibo-input{
  display: block;
  border-radius: 10px;
  border-color: #0d9eff;
  font-size: 15px;
  height: 22px;
  width: 100%;
  text-align: center;
}

#recibo-input:hover{
  cursor: pointer;
}

#impresion-clientes-recibo{
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  list-style: none;
  width: 450px;
  background-color: #f0f2f5;
}

#impresion-clientes-recibo li:hover{
  cursor: pointer;
  color: white;
  background-color: #0d9eff;
}

#input-ul-recibo{
  width: 450px;
 margin: 20px;
}

#contenido-recibo{
  width: 80%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#titulo-crear-recibo{
  color: #0d9eff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#inicio-recibo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont-irecibo{
  font-size: 18px;
  color: #0d0391;
  margin: 20px;
}
.input-irecibo{
  font-size: 16px;
  justify-content: center;
  text-align: center;
  border-radius: 7px;
  border-color: #0d9eff;
}

#contenedor-trecibo{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  
}

#titulo-fpendiente{
  display: flex;
  justify-content: center;
  align-items: center;
}

#titulo-fprocesada{
  display: flex;
  justify-content: center;
  align-items: center;
}

#tabla-impresion-recibo{
  font-size: 14px;
  border: solid #0d0391 1px; 
  border-collapse: collapse;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  margin-bottom: 70px;
  width: 550px;
  max-width: 550px;
}

#tabla-impresion-recibo th, td{
  font-size: 14px;
  border: 1px solid black;
}

#tabla-impresion-recibo th{
  background-color: #0d0391;
  color: white;
}

#tabla-impresion-recibo tr:hover{
  background-color: #bebed2;
  
}
#titulo-fpendiente{
  color: #0d0391;
}

#tabla-facturas-pagar{
  font-size: 14px;
  margin-left: 60px;
  border: solid #0d0391 1px; 
  border-collapse: collapse;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  margin-bottom: 70px;
  width: 550px;
  max-width: 550px;
}

#tabla-facturas-pagar th, td{
  
  font-size: 14px;
  border: 1px solid black;
}

#tabla-facturas-pagar th{
  background-color: #b60b0b;
  color: white;
}

#tabla-facturas-pagar tr:hover{
  background-color: #bebed2;
  
}

#titulo-fprocesada{
  color: #b60b0b;
}

#boton-fpremover{
  background-color: #c20d0d;
  color: white;
  font-size: 14px;
  padding: 2px;
  border: none;
  border-radius: 3px;
}

#boton-fpremover:hover{
  cursor: pointer;
}

#boton-fpseleccionar{
  background-color: #003785;
  color: white;
  font-size: 14px;
  padding: 2px;
  border: none;
  border-radius: 3px;
}

#boton-fpseleccionar:hover{
  cursor: pointer;
}

#input-total{
font-size: 18px;
border-radius: 10px;
border-color: #b60b0b;
justify-content: center;
text-align: center;
}
#t-total-recibo{
  font-size: 18px;
  color: #b60b0b;
}

#organizar-t-b-recibo{
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: end;
  flex-direction: column;
  margin-right: 70px;
}

#boton-error-recibo{
  margin-top: 10px;
}

#boton-guardar-recibo{
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: #0d9eff;
  color: white;
}

#boton-guardar-recibo:hover{
  cursor: pointer;
}

@media screen and (min-width:1200px) and (max-width: 1500px){
  #facturador{
    width: 250px;
  }
  .input-mostrarclientes{
    width:400px;
  }
  .contenedor-resultado-clientes{
    width: 400px;
  }
  .facturacion-nombre{
    width: 200px;
  }
  .facturacion-id, .facturacion-no-factura{
    width: 70px;
  }
  header .menu a{
    font-size: 15px;
    padding: 2px;
  }
  #precio-unitario, #cantidad{
    width: 180px;
  }
  #descripcion-producto{
    width: 330px;
  }
  .contenido-editarcliente{
    width: 50%;
  }


}


  @media screen and (max-width: 1200px){
    header, header.down{
        padding: 10px 20px;
    }
    header .btn{
      display: block;
    }
  
    header .menu{
      position: fixed;
      background: white;
      min-width: 330px;
      height: 100vh;
      top: 0;
      right: -150%;
      padding: 80px 50px;
      transition: 0.5s;
      transition-property: right;
    }
  
    header .menu ul{
        flex-direction: column;
      }
  
    header .menu.active{
      right: 0;
    }
  
    header .menu .close-btn{
      position: absolute;
      top: 0;
      left: 0;
      margin: 25px;
    }
  
    header .menu a{
      display: block;
      font-size: 20px;
      margin: 20px;
      padding: 0 15px;
    }
    .formulario-facturacion, .datosadmin, .area-factura{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    
    .datoscliente{
      flex-direction: column;
      justify-content: left;
      padding: 10px;
      padding-left: 30px;
    }
    .titulo-datos-factura{
      padding-top: 15px;
    }
    
    .input-mostrarclientes{
      display: block;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 80%;
    }
    .datosinicio{
      width: 100%;
    }
    #facturador{
      width: 60%;
    }
    #mostrador-de-clientes{
      width: 100%;
      
      
      
    }
    .input-mostrarclientes, .u-facturador{
      padding: 10px;
    }
    .contenedor-resultado-clientes{
      display: none;
      position: absolute;
      flex-direction: column;
      width: 80%;
    }
    .contenidoinicio{
      padding-top:100px ;
    }

    .p-fc{
      padding-top: 5px;
      font-size: 16px;
    }
    .facturacion, .input-factura{
      height: 25px;
      font-size: 16px;
    }
    
    .area-factura{
      padding-top: 0px;
    }
    .principio-de-factura{
      padding-top: 20px;
    }
    .input-factura, #descripcion-producto{
      width: 300px;
      padding: 5px;
    }

    .facturacion-nombre{
      width: 200px;
    }

    #elementos-factura tr{
      display: flex;
      flex-direction: column;
      border: 1px solid gray;
      padding: 10px;
      margin-bottom: 5px;
    }
    #elementos-factura th, #hr-tabla, #tr-titulos, .no-mostrar{
      display: none;
      border: none;
      padding: none;
      margin: none;
    }
    #elementos-factura td[title]{
      display: flex;
      width: 100%;
    }

    #elementos-factura td[title]::before{
      content: attr(title);
      color: #0d0391;
    }

    #titulo-articulos{
      display: flex;
      justify-content: center;
      align-items: center;
      color: #0d0391;
    }
    #boton-guardar-factura{
      font-size: 17px;
      padding: 3px;
      border-radius: 3px;
      margin-right: 10px;
      border: 0;
    }

    #final_total{
      font-size: 17px;
      padding: 3px;
      border-radius: 3px;
      margin-right: 10px;
      border: 0;
      width: 120px;
    }
    
    #titulo-total-final{
      font-size: 17px;
      padding: 3px;
      border-radius: 3px;
      border: 0;
    }
    .final-guardar-factura{
      justify-content: center;
      align-items: center;
    }

    #error-articulos{
      position: absolute;
      font-size: 20px;
      margin-bottom: 60px;
    }

    
    
   
    #tabla-clientes th, #tabla-clientes-estado th{
      display: none;
      border: none;
      padding: none;
      margin: none;
    }

    #tabla-clientes td, #tabla-clientes-estado td{
      border: none;
      
    }

    #tr-td-clientes{
      display: flex;
      flex-direction: column;
      border: 1px solid gray;
      border-bottom:1px solid gray;
      padding: 10px;
      margin-bottom: 5px;
    }
    
    #tabla-clientes td[title]{
      display: flex;
      width: 100%;
      font-size: 17px;
    }

    #tabla-clientes td[title]::before{
      content: attr(title);
      color: #0d0391;
    }
    #html-clientes{
      padding-top: 120px;
    }
    .titulo-clientes{
      font-size: 14px;
    }

    .contenido-clientes{
      width: 90%;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
      border-radius: 20px;
    }
    #input-buscar-cliente{
      width: 300px;
      font-size: 13px;
    }

    .contenido-editarcliente{
      width: 90%;
      background-color: white;
      flex-direction: column;
      
    }
    #titulo-editar{
      font-size: 20px;
    }
    #html-editarclientes{
      padding-top: 120px;
      align-items: left;
    }
    
    .inputs-editar-clientes p{
      font-size: 18px;
      
    }
    .inputs-editar-clientes input{
      width: 200px;
      font-size: 18px;
      height: 25px;
      
    }
    #boton-eliminar-cliente{
      margin-right: 50px;
      
    }
    #tabla-clientes-estado{
      width: 100%;
    }

    #tabla-clientes-estado td[title]{
      display: flex;
      width: 97%;
      font-size: 17px;
    }

    #tabla-clientes-estado td[title]::before{
      content: attr(title);
      color: #0d0391;
    }

    #tr-td-clientes-estado{
      display: flex;
      flex-direction: column;
      border: 1px solid gray;
      border-bottom:1px solid gray;
      margin-bottom: 5px;
      padding: 5px;
      width: 98%;
    }
   
    #input-buscar-cliente-estado{
      width: 300px;
      font-size: 13px;
      
    }
    #titulo-clientes-estado{
      font-size: 13px;
      text-align: center;
      align-items: center;
    }
    #mostrador-clientes-estadocuenta{
      margin-top:120px ;
      width: 90%;
    }

    #contenido-facturas{
      
      margin-top: 120px;
      padding: 20px;
      font-size: 17px;
    }
    #contenido-articulos{
      width: 90%;
      margin-top: 120px;
      max-width: 100%;
      
    }
    #tabla-articulos-fc{
      font-size: 14px;
    }
    #tabla-facturas th{
      font-size: 14px;
    }
    #tabla-facturas td{
      font-size: 13px;
    }
    


  }
  
 
  @media screen and (max-width: 600px){
    .cncliente{
      width: 100%;
      height: 40px;
      font-size: 18px;
    }
    .uncliente{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 200px;
    }
    .parrafoagregar{
      font-size: 20px;
      padding: 4px;
      }


  }