html, body{
    background-color: #f0f2f5;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
	min-height: 100vh;
    width: 100%;
    height: 100%;

}

*{
    box-sizing: border-box;
    font-family: verdana;
    margin: 0;
    padding: 0;
    }

.todo-contenido{
        width: 100%;
    }

#ing-codigo{
        width: 350px;
        height: 30px;
        margin-top: 7px;
        box-sizing:border-box;
        background:none;
        outline:none;
        resize:none;
        border:0;
        border-bottom:2px solid #bebed2;
        
}

.YO-COBRO{
    color: #2EC640;
}
.MI-DINERO{
    color: #F3C538 ;
}

.contenido-vef{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding:20px;
}

.item-vef{
    background-color: white;
    border-radius: 10px;
    width: 450px;
    display: flex;
    flex-direction: column;
    
}

.form-group{
    line-height: 1.5em;
    font-size: 1.2em;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button-registro{
    font-size: 1em;
    height: 2em;
    border-radius: 5px;
    background-color: #3f3f3f;
    color: white;
    margin-top: 15px;
    cursor: pointer;
    width: 350px;
    border: none;
    
}

.botones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding-bottom: 10px;
    
}

hr{
    padding: 0px !important;
}


.button-atras{
    font-size: 1em;
    height: 2em;
    border-radius: 5px;
    color: white;
    margin-top: 15px;
    cursor: pointer;
    width: 350px;
    border: none;
    background-color: #3f3f3f;
    
}


.button-sesion{
    font-size: 1em;
    height: 2em;
    border-radius: 5px;
    color: white;
    margin-top: 15px;
    cursor: pointer;
    width: 350px;
    border: none;
    background-color: #3f3f3f;
    
}

.button-google{
    font-size: 1em;
    height: 2em;
    border-color: transparent;
    border-radius: 5px;
    background-color: #3f3f3f;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    width: 350px;
    background-image:url(./google.png);
    background-size: 26px 26px;
    background-repeat: no-repeat;
}



.mensaje-final{
    position: absolute;
    width: 100%;
    line-height: 1.5em;
    font-size: 1.2em;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.rellenar{
    background-color: #ff9900d3;
    color: white;
    max-width: 350px;
}

.aprobado{
    background-color: #28c913d8;
    color: white;
    max-width: 350px;

}

.error{
    background-color: #ff0000dc;
    color: white;
    max-width: 350px;
}


@media (max-width: 600px){
    .contenido-vef{
        display:flex;
        justify-content: center;
        align-items: center;
        border: 0;
    
    }
    .item-vef{
        background-color: white;
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }
    #ing-codigo{
        width: 300px;
        height: 20px;
        margin-top: 5px;
        box-sizing:border-box;
        background:none;
        outline:none;
        resize:none;
        border:0;
        border-bottom:2px solid #bebed2;
        
    }
    .button-google, .button-registro, .button-sesion, .button-atras{
        width: 300px;
    }
    .mensaje-final{
        line-height: 1.2em;
        font-size: 1.2em;
        padding-top: 30px;
    }
    .aprobado, .error, .rellenar{
        max-width: 300px;
    
    }
    
}

