{% extends "home.html"%}
{% block content %}

<div id="html-facturas" data-aos="zoom-in" data-aos-duration="1500">
    <div id="contenido-facturas">
        <div id="titulo-facturas">
            <H2>FACTURAS</H2>
        </div>
        <div id="tabla-facturas">
            <table>
                <tr>
                    <th>ID</th>
                    <th>FECHA</th>
                    <TH>MONTO</TH>
                    <TH>ARTICULOS</TH>
                </tr>
                {% for factura in facturas %}
                
                
                <tr id="tr-factura">
                    
                    <td title="ID: ">{{factura[0]}} </td>
                    <td title="FECHA: ">{{factura[3]}} </td>
                    <td title="MONTO: ">{{factura[4]}} </td>
                    <td title="ARTICULOS: "> <a id="boton-articulos" href="{{url_for('articulos', articulos=factura[0])}}">MOSTRAR</a> </td> 
                </tr>
                {% endfor %}

            </table>

        </div>
        <a href="{{url_for('estadoscuentas')}}" id="volver-facturas"> VOLVER ATRÁS </a>
    </div>









</div>











{% endblock %}