{% extends "home.html"%}
{% block content %}


<div class="contenidoinicio" >
    
    <div class="datosinicio">
        <div class="formulario-facturacion">
            FACTURACIÓN
        </div>
        <form action="{{ url_for('inicio', id=0)}}" method="get">
            <div class="datosadmin">
                <div >
                    <p class="facturacion u-facturador">USUARIO: <input type="text"  name="facturador" id="facturador" value="{{nombre}} {{apellido}}" readonly="readonly"> </p>
                </div>
                
                
                <div class="input-mostrarclientes">
                    <input class="facturacion" type="text" name="mostrador-de-clientes" id="mostrador-de-clientes" onclick="mostrarclientes();"  onkeyup="search();" placeholder="Ingrese Nombre Cliente">
                    
                    <div class="contenedor-resultado-clientes facturacion" >
                            <ul id="listado-clientes">

                        
                        {% for c in cliente %}
                        <li class="impresion-clientes">
                            <a href="{{ url_for('inicio', id=c[0]) }}" class="resultado-clientes">   {{c[0]}} {{c[2]}} {{c[3]}} {{c[4]}} {{c[5]}} {{c[6]}} </a>
                            <hr>

                        </li>
                        
                            
                        {% endfor %}
                        </ul>
                    </div>
                        
                    
    
                </div>

            </div>
            
            
            <div class="titulo-datos-cliente">
                <h3>DATOS DE CLIENTE</h3>
            </div>
            <div class="datoscliente">
                
                <div class="fc-id">
                    <p class="p-fc">ID: <input type="text" class="facturacion facturacion-id"  readonly="readonly" value="{{facturarclientes['id']}}">    </p>
                </div>
                <div class="fc-nombre" >
                    <p class="p-fc">NOMBRE: <input type="text" class="facturacion facturacion-nombre"  readonly="readonly" value="{{facturarclientes['nombrecompleto']}}">     </p>
                </div>
                <div class="fc-telefono" >
                    <p class="p-fc">TELEFONO: <input type="text" class="facturacion facturacion-telefono"  readonly="readonly" value="{{facturarclientes['telefono']}}">     </p>
                </div>
                <div class="fc-identificacion">
                    <p class="p-fc">IDENTIFICACION: <input type="text" class="facturacion facturacion-identificacion"  readonly="readonly" value="{{facturarclientes['identificacion']}}">    </p>
                </div>
            </div>
            
            <div class="ubicacion" >
                <p class="p-fc">UBICACION: <input type="text" class="facturacion facturacion-ubicacion"  readonly="readonly" value="{{facturarclientes['ubicacion']}}">     </p>
            </div>
    
            
            

            
        </form>
        <div class="area-factura">
                <input type="number" id="cantidad"  class="input-factura"  placeholder="CANTIDAD" onkeyup="errorCantidad();" onclick="errorCantidad();">
                
                
                <input type="text" class="input-factura descripcion" id="descripcion-producto" placeholder="DESCRIPCION" onkeyup="errorDescripcion();" onclick="errorDescripcion();">
                
                
                
                <input type="number" class="input-factura precio-unitario" id="precio-unitario" placeholder="PRECIO UNITARIO" onkeyup="errorPrecio();" onclick="errorPrecio();">
                
                
                <input type="button" class="input-factura" id="boton-factura" value="AGREGAR">
                <div id="error-cantidad" class="error-factura">
                    <p  >ESTE CAMPO DEBE SER MAYOR A 0</p>
                </div>
                <div class="error-factura" id="error-descripcion">
                    <p >POR FAVOR RELLENAR ESTE CAMPO</p>
                </div>
                <div class="error-factura" id="error-precio">
                    <p >ESTE CAMPO DEBE SER MAYOR A 0</p>
                </div>
              
        </div>
       
        

    </div>
    
   

</div>


<script>
    var y=1;

function mostrarclientes() {
    
    if (y===1) {
        document.querySelector('.contenedor-resultado-clientes').style.display = "block";
        return y=0;
  } else{
    document.querySelector('.contenedor-resultado-clientes').style.display = "none";
    return y=1;
  } 
  

}




  function search() { 
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("mostrador-de-clientes");
    filter = input.value.toUpperCase();
    ul = document.getElementById("listado-clientes");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
    
function errorCantidad(){
    let cantidad = document.getElementById("cantidad");
    let valorCantidad = cantidad.value;
    
    

    if (valorCantidad==""){
        document.querySelector('#error-cantidad').style.display = "grid";}

    else if (valorCantidad==0){
        document.querySelector('#error-cantidad').style.display = "grid";}

    else {
        document.querySelector('#error-cantidad').style.display = "none";}
}

function errorDescripcion(){
    let descripcion = document.getElementById("descripcion-producto");
    let valorDescripcion = descripcion.value;

    if (valorDescripcion==""){
        document.querySelector('#error-descripcion').style.display = "grid";}
   
    else{
        document.querySelector('#error-descripcion').style.display = "none";}
}

function errorPrecio(){
    let precio = document.getElementById("precio-unitario");
    let valorPrecio = precio.value;

    if (valorPrecio==""){
        document.querySelector('#error-precio').style.display = "grid";}

    else if (valorPrecio==0){
        document.querySelector('#error-precio').style.display = "grid";}

    else {
        document.querySelector('#error-precio').style.display = "none";}
}


</script>

{% endblock %}

