{% extends "home.html"%}
{% block content %}


<div class="contenidoinicio" >
    
    <div class="datosinicio">
        
        <div class="formulario-facturacion">
            FACTURACIÓN
        </div>
        <form action="{{ url_for('inicio', id=0)}}" method="get">
            <div class="datosadmin">
                <div>
                    <p class="facturacion u-facturador">USUARIO: <input type="text"  name="facturador" id="facturador" value="{{nombre}} {{apellido}}" readonly="readonly"> </p>
                </div>
                
                
                <div class="input-mostrarclientes">
                    <input class="facturacion" type="text" name="mostrador-de-clientes" id="mostrador-de-clientes" onclick="mostrarclientes();"  onkeyup="search();" placeholder="Click aquí para mostrar sus clientes">
                    
                    <div class="contenedor-resultado-clientes" >
                        
                            
                                <ul id="listado-clientes">
                        
                                    {% for c in cliente %}
                                
                                    <li class="impresion-clientes">
                                        <a href="{{ url_for('inicio', id=c[0]) }}" class="resultado-clientes">  {{c[0]}}, {{c[2]}} {{c[3]}}, {{c[4]}}, {{c[5]}}, {{c[6]}}   </a>
                                        <hr>
            
                                    </li>
                                    
                                        
                                    {% endfor %}
                                    </ul>

                           
                            
                    </div>
                        
                    
    
                </div>

            </div>
            
            
            <div class="titulo-datos-factura">
                <h3>DATOS DE FACTURA</h3>
            </div>
            <div class="datoscliente">
                
                <div class="fc-id">
                    <p class="p-fc">ID: <input type="text" id="id-cliente" class="facturacion facturacion-id"  readonly="readonly" value="{{facturarclientes['id']}}">    </p>
                </div>
                
                <div class="fc-nombre" >
                    <p class="p-fc">NOMBRE: <input type="text" class="facturacion facturacion-nombre"  readonly="readonly" value="{{facturarclientes['nombrecompleto']}}">     </p>
                </div>
                
                <div class="fc-factura">
                    <p class="p-fc">NO. DE FACTURA: <input type="text" class="facturacion facturacion-no-factura" id="numero-factura"  readonly="readonly" value="{{factura}}"></p>

                </div>
                
                <div class="fc-fecha">
                    <p class="p-fc">FECHA:  <input type="text" class="facturacion facturacion-fecha" readonly="readonly" id="fecha">  </p>

                </div>

            
            </div>
    
            
            

            
        </form>

        <div class="principio-de-factura">
            <h2 id="titulo-factura">FACTURA</h2>
           
                 
       
            


        </div>
        
        <div class="area-factura">

           <div class="mensaje-error">
                <input type="number" id="cantidad"  class="input-factura"  placeholder="CANTIDAD" onkeyup="errorCantidad();" onclick="errorCantidad();">
                <p id="error-cantidad">ESTE CAMPO DEBE SER MAYOR A 0</p>

           </div>
                

                
                <div class="mensaje-error">
                    <input type="text" class="input-factura descripcion" id="descripcion-producto" placeholder="DESCRIPCION" onkeyup="errorDescripcion();" onclick="errorDescripcion();">
                    <p id="error-descripcion">POR FAVOR RELLENAR ESTE CAMPO</p>

                </div>
                
                
                <div class="mensaje-error">
                    <input type="number" class="input-factura precio-unitario" id="precio-unitario" placeholder="PRECIO UNITARIO" onkeyup="errorPrecio();" onclick="errorPrecio();">
                    <p id="error-precio">ESTE CAMPO DEBE SER MAYOR A 0</p>

                </div>
                
                
                <input type="button" class="input-factura" id="boton-factura" onclick="factura(),productos(), agregartabla(), mostrartotal();" value="AGREGAR">
            
              
        </div>  

        <div class="impresion-articulos">
            <table id="elementos-factura">
                <tr>
                    <th id="titulo-cantidad">CANTIDAD</th>
                    <TH id="titulo-descripcion">DESCRIPCION</TH>
                    <TH id="titulo-precio">PRECIO UNITARIO</TH>
                    <TH id="titulo-total">SUBTOTAL</TH>
                    <th id="titulo-borrar">BORRAR</th>
                    
                </tr>
                <tr>
                    <td>
                        <hr>
                    </td>
                    <td>
                        <hr>
                    </td>
                    <td>
                        <hr>
                    </td>
                    <td>
                        <hr>
                    </td>
                    <td>
                        <hr>
                    </td>
                </tr>
                
                
            </table>

        </div>

        <div class="final-guardar-factura">
            <p id="error-articulos">FAVOR INGRESAR ARTICULOS</p>
            <a id="referencia">
            <input type="button" id="boton-guardar-factura" onclick="jsonad();" value="GUARDAR FACTURA"></a>
          <input type="text" id="titulo-total-final" value="TOTAL:" readonly>  <input type="text"  id="final_total" value="0" readonly>
            
        </div>
        

    </div>
    
   

</div>


<script>



    var y=1;


    fecha = new Date().toLocaleDateString();
    document.getElementById("fecha").value = fecha;
    

    var agregar = {
        factura:{},
        articulos:[],
        totales:[],
        total_final:0,


    }

    
    
  

    function mostrartotal(){
        let suma = 0;
            for(let x=0; x<agregar.totales.length; x++){
            let y = agregar.totales[x];
            suma += y;  
        }
        
        agregar.total_final = suma;
            
        document.getElementById("final_total").value= new Intl.NumberFormat('en-US').format(agregar.total_final) ;
        
    }
    
    function factura(){
        agregar.factura.id_cliente= document.getElementById("id-cliente").value;
        agregar.factura.no_factura= document.getElementById("numero-factura").value;
        agregar.factura.fecha_factura= document.getElementById("fecha").value;
        
       

    }

    function productos(){
        if(document.getElementById("cantidad").value != 0 && document.getElementById("descripcion-producto").value != 0 && document.getElementById("precio-unitario").value != 0 ){
            agregar.articulos.push({cantidad:document.getElementById("cantidad").value, descripcion:document.getElementById("descripcion-producto").value, precio_unitario: document.getElementById("precio-unitario").value, total:document.getElementById("cantidad").value * document.getElementById("precio-unitario").value});
        agregar.totales.push(document.getElementById("cantidad").value * document.getElementById("precio-unitario").value); 
        document.getElementById("cantidad").value = "";
        document.getElementById("descripcion-producto").value = "";
        document.getElementById("precio-unitario").value = "";
        

        }
        else{
            errorPrecio();
            errorDescripcion();
            errorCantidad();
        }
    }

    function agregartabla(){
          let impresion = agregar.articulos.length -1;
         if(document.getElementById(impresion)==null){
        
        
        let tabla = document.getElementById("elementos-factura");
        
        let tr = document.createElement('tr');
        tr.id = impresion;
        tr.className = 'tr-factura';

        let precio_factura = document.createElement('td');
        precio_factura.id = impresion;
        precio_factura.className = 'precio-factura';
       
        let descripcion_factura = document.createElement('td');
        descripcion_factura.id = impresion;
        descripcion_factura.className = 'descripcion-factura';

        let cantidad_factura = document.createElement('td');
        cantidad_factura.id = impresion;
        cantidad_factura.className = 'cantidad-factura';
        
        let total_factura = document.createElement('td'); 
        total_factura.id = impresion;
        total_factura.className = 'total-factura';
        
        let boton = document.createElement('td');
        boton.id = impresion;

        let boton_delete = document.createElement('button');
        boton_delete.id = impresion;
        boton_delete.className = 'boton-borrar-factura';
        boton_delete.value = impresion;
        boton_delete.type = 'button';
        boton_delete.classList = "boton-borrar-articulo";
        
        boton.appendChild(boton_delete);

        cantidad_factura.innerHTML = new Intl.NumberFormat('en-US').format(agregar.articulos[impresion].cantidad);
        descripcion_factura.innerHTML = agregar.articulos[impresion].descripcion;
        precio_factura.innerHTML = new Intl.NumberFormat('en-US').format(agregar.articulos[impresion].precio_unitario);
        total_factura.innerHTML = new Intl.NumberFormat('en-US').format(agregar.articulos[impresion].total);
        boton_delete.innerHTML = 'Borrar';
        boton_delete.addEventListener("click", function(){
            document.getElementById(boton_delete.value).remove();
            delete(agregar.articulos[boton_delete.value]);
            agregar.totales[boton_delete.value]=0;
            mostrartotal();
        } );
        tr.appendChild(cantidad_factura);
        tr.appendChild(descripcion_factura);
        tr.appendChild(precio_factura);
        tr.appendChild(total_factura);
        tr.appendChild(boton);
        tabla.appendChild(tr); 
        
        }
            
        

        

        
        
        
    
    }

    


    function jsonad() {
        if (document.getElementById("id-cliente").value==0){
            document.getElementById("error-cantidad").innerText = "FAVOR SELECCIONAR UN CLIENTE";
            document.querySelector('#error-cantidad').style.display = "grid";
            document.getElementById("cantidad").setAttribute('readonly', true);
            document.getElementById("error-descripcion").innerText = "FAVOR SELECCIONAR UN CLIENTE";
            document.querySelector('#error-descripcion').style.display = "grid";
            document.getElementById("descripcion-producto").setAttribute('readonly', true);
            document.getElementById("error-precio").innerText = "FAVOR SELECCIONAR UN CLIENTE";
            document.querySelector('#error-precio').style.display = "grid";
            document.getElementById("precio-unitario").setAttribute('readonly', true);
            
        }

        else if(agregar.total_final==0){
            document.getElementById('error-articulos').style.display="flex";

            setTimeout(function () {
                
            document.getElementById('error-articulos').style.display="none";
                
            

            }, 3000)
        }
        
        else{
            document.getElementById('error-articulos').style.display="none";
            document.getElementById('referencia').href = "{{ url_for('login') }}";
            fetch('http://localhost:5000/inicio/0', {
            headers : {
                'Content-Type' : 'application/json'
            },
            method : 'POST',
            body : JSON.stringify(agregar)
        })

        }


}


    function mostrarclientes() {
    
    if (y===1) {
        document.querySelector('.contenedor-resultado-clientes').style.display = "block";
        document.getElementById('mostrador-de-clientes').placeholder= "Buscar cliente por nombre o alguna otra información";
        return y=0;
  } else{
    document.querySelector('.contenedor-resultado-clientes').style.display = "none";
    document.getElementById('mostrador-de-clientes').placeholder= "Click aquí para mostrar sus clientes";
    return y=1;
  } 
  

}




  function search() { 
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("mostrador-de-clientes");
    filter = input.value.toUpperCase();
    ul = document.getElementById("listado-clientes");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
    
function errorCantidad(){
    let cantidad = document.getElementById("cantidad");
    let valorCantidad = cantidad.value;
    
    
    if (document.getElementById("id-cliente").value==0){
        
        document.getElementById("error-cantidad").innerText = "FAVOR SELECCIONAR UN CLIENTE";
        document.querySelector('#error-cantidad').style.display = "grid";
        document.getElementById("cantidad").setAttribute('readonly', true);
    }

    else{
        document.getElementById("cantidad").removeAttribute('readonly');
        if (valorCantidad==""){
        document.querySelector('#error-cantidad').style.display = "grid";}

    else if (valorCantidad==0){
        document.querySelector('#error-cantidad').style.display = "grid";}

    else {
        document.querySelector('#error-cantidad').style.display = "none";}

    }
   
}

function errorDescripcion(){
    let descripcion = document.getElementById("descripcion-producto");
    let valorDescripcion = descripcion.value;

    if (document.getElementById("id-cliente").value==0){
        
        document.getElementById("error-descripcion").innerText = "FAVOR SELECCIONAR UN CLIENTE";
        document.querySelector('#error-descripcion').style.display = "grid";
        document.getElementById("descripcion-producto").setAttribute('readonly', true);
    }

    else{
        document.getElementById("descripcion-producto").removeAttribute('readonly');
        if (valorDescripcion==""){
        document.querySelector('#error-descripcion').style.display = "grid";}
   
    else{
        document.querySelector('#error-descripcion').style.display = "none";}

    }

    
}

function errorPrecio(){
    let precio = document.getElementById("precio-unitario");
    let valorPrecio = precio.value;

    if (document.getElementById("id-cliente").value==0){
        
        document.getElementById("error-precio").innerText = "FAVOR SELECCIONAR UN CLIENTE";
        document.querySelector('#error-precio').style.display = "grid";
        document.getElementById("precio-unitario").setAttribute('readonly', true);
    }

    else{
        document.getElementById("precio-unitario").removeAttribute('readonly');
        if (valorPrecio==""){
        document.querySelector('#error-precio').style.display = "grid";}

    else if (valorPrecio==0){
        document.querySelector('#error-precio').style.display = "grid";}

    else {
        document.querySelector('#error-precio').style.display = "none";}

    }

    
}


</script>


{% endblock %}

