{% extends "home.html"%}
{% block content %}

<div id="htmlrecibo">
    <div id="contenido-recibo">

        <input type="text" placeholder="Click aquí para mostrar sus clientes">
        <ul>
        </ul>

        <table>
            <tr>
                <th>ID</th>
                <th>FECHA</th>
                <th>MONTO</th>
                <th>SELECCIONAR</th>

            </tr>
        </table>
    </div>
</div>


<script>
    fetch('static/recibo.json')
    .then(respuesta => respuesta.json())
    .then(respuesta => console.log(respuesta));
</script>

{% endblock %}