{% extends "home.html"%}
{% block content %}

<div id="htmlrecibo">
    <div id="contenido-recibo">
        <h2 id="titulo-crear-recibo">CREAR RECIBOS</h2>
        <div id="input-ul-recibo">
            
            <input type="text" id="recibo-input" placeholder="Click aquí para mostrar sus clientes" onclick="ul_imp();" onkeyup="buscar();">
            <ul id="impresion-clientes-recibo">
            </ul>

        </div>
        <div id="inicio-recibo">
            
            <p class="cont-irecibo">FECHA RECIBO: <input type="text" class="input-irecibo" name="fecha_recibo" id="fecha_recibo" readonly></p>
            <p class="cont-irecibo">ID RECIBO: <input type="text" class="input-irecibo" name="idrecibo" id="idrecibo" value="{{id}}" readonly></p>
            <p class="cont-irecibo">ID CLIENTE: <input type="text" class="input-irecibo" name="id-cliente-recibo" id="id-cliente-recibo" readonly></p> 
        
        </div>

        <div id="mensaje-pago">
            
            <p>¿Has recibido la suma de RD$:?</p>
            <p id="mensaje-total"></p>
            <p>Si no es así presione "CANCELAR", de lo contrario presione "PAGAR"</p>
            <a href="{{ url_for('pagar') }}">
                <input type="button" id="mensaje-total-pagar" value="PAGAR"> 
            </a>
            
            <input type="button" id="mensaje-total-cancelar" value="CANCELAR">
        </div>

        <div id="mensaje-abono">
            <p>¿Quieres abonar la suma de RD$:?</p>
            <p id="mensaje-abonar"></p>
            <p>Si no desea abonar presione "CANCELAR", de lo contrario presione "ABONAR"</p>
            <a href="{{ url_for('abonar') }}">
                <input type="button" id="mensaje-total-abonar" value="ABONAR"> 
            </a>
            
            <input type="button" id="mensaje-cancelar-abono" value="CANCELAR">
        </div>
        
        
       
        
       <div id="contenedor-trecibo">
        
        <div id="div-timpresion">
            <h4 id="titulo-fpendiente">FACTURAS PENDIENTES</h4>
            <table id="tabla-impresion-recibo">
                <tr>
                    <th>ID</th>
                    <th>FECHA</th>
                    <th>MONTO ORIGINAL</th>
                    <th>MONTO ACTUAL</th>
                    <th>SELECCIONAR</th>
                </tr>
            </table>

        </div>
        <div id="t-frecibo">
            <h4 id="titulo-fprocesada">FACTURAS PROCESADAS</h4>

        <table id="tabla-facturas-pagar">
            <tr>
                <th>ID</th>
                <th>FECHA</th>
                <th>MONTO ORIGINAL</th>
                <th>MONTO ACTUAL</th>
                <th>REMOVER</th>
            </tr>
        </table>

        </div>
       </div>
 
        
       <div id="organizar-t-b-recibo">
        <label id="t-total-recibo">TOTAL: <input type="text" value="0" id="input-total" readonly> </label>
        <div id="boton-error-recibo">
            <p id="error-procesar-facturas">FAVOR PROCESAR FACTURAS</p>
            <input type="button" id="boton-guardar-recibo" value="GRABAR PAGO" onclick="comprobar();">

        </div>

       </div>
       
        
        <div id="items-abono">
            <input type="button" value="ACTIVAR ABONO" id="boton-activar-abono" onclick="activar_abono();">
            <p id="ingrese-cantidad">INGRESE LA CANTIDAD A ABONAR: <input type="number" disabled id="cantidad-abonar"></p>
            <p id="error-abono-0"></p>
            
            <p id="error-abono">SOLO ABONAR 1 FACTURA A LA VEZ</p>
            <p id="error-procesar-abono">FAVOR PROCESAR FACTURAS</p>
            <input type="button" id="boton-guardar-abono" value="GUARDAR ABONO" onclick="guadar_abono();" disabled> 
            <input type="button" id="boton-cancelar-abono" onclick="cancelar_abono();" value="CANCELAR ABONO" disabled>
            
            

        </div>
        

        
    </div>
</div>


<script>
    var prueba;
    var facturas_procesadas=[];
    var organizar = {};
    var facturas_pagadas={};
    var factura_abonar = {};
    var lul=0;

    fecha_recibo = new Date().toLocaleDateString();
    document.getElementById("fecha_recibo").value = fecha_recibo;

    function conexion_json(){
        fetch('static/recibo.json')
        .then(devolucion => devolucion.json())
        .then(datos=> {
       var datos_json = datos
       var tamaño = Object.keys(datos_json).length;
        impresion(datos_json, tamaño);
    });

    }

    function ul_imp(){
        if (lul==0){
            document.getElementById("impresion-clientes-recibo").style.display="flex";
            document.getElementById("recibo-input").placeholder="Buscar cliente por nombre o alguna otra información";
            lul = 1;
        }
        else{
            document.getElementById("impresion-clientes-recibo").style.display="none";
            document.getElementById("recibo-input").placeholder="Click aquí para mostrar sus clientes";
            lul = 0;
        }
        
    }

    function buscar() { 
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("recibo-input");
    filter = input.value.toUpperCase();
    ul = document.getElementById("impresion-clientes-recibo");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "flex";
        } else {
            li[i].style.display = "none";
        }
    }
}
    
    
     function impresion(vimprimir, tvariable){
        let ul_impresion = document.getElementById("impresion-clientes-recibo");
        
        for (let y=0; y<tvariable; y++){
            let li = document.createElement('li');
            let clickboton = document.createElement("a");
            let hr = document.createElement("hr");
           
            clickboton.innerHTML = vimprimir[y]['nombre'] + " " + vimprimir[y]['telefono'] + " " 
            + vimprimir[y]['identificacion'] + " " + vimprimir[y]['direccion'];
            clickboton.addEventListener("click",function(){
                facturas(vimprimir[y]['facturas']);
                document.getElementById("id-cliente-recibo").value = vimprimir[y]['idcliente'];
                document.getElementById("impresion-clientes-recibo").style.display="none";
                document.getElementById("recibo-input").placeholder="Click aquí para mostrar sus clientes";
                lul = 0;
            });
            li.appendChild(clickboton);
            li.appendChild(hr);
            ul_impresion.appendChild(li);
        }

     }

     function facturas(datos_facturas){
        let tabla_recibo = document.getElementById("tabla-impresion-recibo");
        let tamaño_tabla = tabla_recibo.rows.length;
        
        let tabla_proceso = document.getElementById("tabla-facturas-pagar");
        let tamaño_proceso = tabla_proceso.rows.length;
        facturas_procesadas = [];
        facturas_pagadas = {};
        factura_abonar = {};
        document.getElementById("input-total").value = "0";
        for (let o = tamaño_tabla -1; o>0; o--){
            tabla_recibo.deleteRow(o);}
        
        for (let h= tamaño_proceso -1; h>0; h--){
            tabla_proceso.deleteRow(h);}
        
        for (let p=0; p<datos_facturas.length; p++){
            let tr = document.createElement('tr');
            let td_id = document.createElement('td');
            let td_fecha = document.createElement('td');
            let td_monto_original = document.createElement('td');
            let td_monto_actual = document.createElement('td');
            let td_seleccionar = document.createElement('td');
            let boton_seleccionar = document.createElement("button");
            
            boton_seleccionar.id = "boton-fpseleccionar";
            td_id.innerHTML = datos_facturas[p][0];
            td_fecha.innerHTML = datos_facturas[p][3];
            td_monto_original.innerHTML =  new Intl.NumberFormat('en-US').format(datos_facturas[p][4]);
            td_monto_actual.innerHTML = new Intl.NumberFormat('en-US').format(datos_facturas[p][5]);
            boton_seleccionar.innerHTML = "SELECCIONAR";
            boton_seleccionar.addEventListener("click", function(){
                facturas_recibo(datos_facturas[p]);
            });

            td_seleccionar.appendChild(boton_seleccionar);

            tr.appendChild(td_id);
            tr.appendChild(td_fecha);
            tr.appendChild(td_monto_original);
            tr.appendChild(td_monto_actual);
            tr.appendChild(td_seleccionar);

            tabla_recibo.appendChild(tr);} 
     }

     function facturas_recibo(recibidas){
        let fc_recibo = document.getElementById("tabla-facturas-pagar");
        

        if (facturas_procesadas.includes(recibidas[0])==true){

        }
        else {
            let input_total = document.getElementById("input-total");
            let value_input = input_total.value;
            let tomar_value_input = value_input.replace(",", "");
            let suma = recibidas[5] + Number(tomar_value_input);
            input_total.value = new Intl.NumberFormat('en-US').format(suma);
                facturas_procesadas.push(recibidas[0]);
                organizar[recibidas[0]] = {"idfactura":recibidas[0], "fecha":recibidas[3], "monto_original":recibidas[4], "monto_actual":recibidas[5]}
                let tr = document.createElement("tr");
                let td_idr = document.createElement("td");
                let td_fechar = document.createElement("td");
                let td_monto_originalr = document.createElement("td");
                let td_monto_actualr = document.createElement("td");
                let remover = document.createElement("td");
                let boton_remover = document.createElement("button");


                tr.id = recibidas[0];
                td_idr.innerHTML = recibidas[0];
                td_fechar.innerHTML = recibidas[3];
                td_monto_originalr.innerHTML = new Intl.NumberFormat('en-US').format(recibidas[4]);
                td_monto_actualr.innerHTML = new Intl.NumberFormat('en-US').format(recibidas[5]);
                boton_remover.innerHTML = "REMOVER";
                boton_remover.id = "boton-fpremover";
                boton_remover.addEventListener("click", function(){
                    let  remover_elemento = document.getElementById(recibidas[0]);
                    let input_total_resta = document.getElementById("input-total");
                    let value_input_resta = input_total_resta.value;
                    let tomar_value_input_resta = value_input_resta.replace(",", "");
                    let valor_restar = remover_elemento.getElementsByTagName("td")[3].innerHTML.replace(",","");
                    let resta = Number(tomar_value_input_resta) - Number(valor_restar);
                    input_total_resta.value = new Intl.NumberFormat('en-US').format(resta);
                    delete organizar[recibidas[0]];
                  remover_elemento.remove();
                  const index = facturas_procesadas.indexOf(recibidas[0]);
                    if (index > -1) {
                    facturas_procesadas.splice(index, 1);
                    }
                    
                });
                remover.appendChild(boton_remover);
                tr.appendChild(td_idr);
                tr.appendChild(td_fechar);
                tr.appendChild(td_monto_originalr);
                tr.appendChild(td_monto_actualr);
                tr.appendChild(remover);
                fc_recibo.appendChild(tr);  
        }
    }

    function comprobar(){
        if (document.getElementById("input-total").value==0){
            document.getElementById("error-procesar-facturas").style.display="flex";
            setTimeout(function(){
                document.getElementById("error-procesar-facturas").style.display="none";
            },3000);
            
        }
        else{
            document.getElementById("error-procesar-facturas").style.display="none";
            document.getElementById("mensaje-pago").style.display="flex";
            document.getElementById("mensaje-total").innerHTML = document.getElementById("input-total").value;
            let boton_cancelar = document.getElementById("mensaje-total-cancelar");
            let boton_pagar = document.getElementById("mensaje-total-pagar");
            boton_cancelar.addEventListener("click",function(){
                document.getElementById("mensaje-pago").style.display="none";
            });

            boton_pagar.addEventListener("click", function(){
                enviarjson();
            } );
            
            
        }
        
    }

    function enviarjson(){
        facturas_pagadas["idcliente"] =  document.getElementById("id-cliente-recibo").value;
        facturas_pagadas["fecha_recibo"] = document.getElementById("fecha_recibo").value;
        facturas_pagadas["monto_recibo"] = document.getElementById("input-total").value;
        facturas_pagadas["facturas"] = organizar;
        fetch('http://localhost:5000/pagar', {
            headers : {
                'Content-Type' : 'application/json'
            },
            method : 'POST',
            body : JSON.stringify(facturas_pagadas)
        });
    }

    function activar_abono(){
        let boton_cancelar = document.getElementById("boton-cancelar-abono");
        let boton_activar = document.getElementById("boton-activar-abono");
        let boton_guardar = document.getElementById("boton-guardar-abono");
        let input_abonar = document.getElementById("cantidad-abonar");
        let boton_pagar = document.getElementById("boton-guardar-recibo");
        let input_total = document.getElementById("input-total");
        boton_activar.disabled = true;
        boton_activar.style.backgroundColor = "#bebed2";
        boton_activar.style.pointerEvents = "none";
        boton_pagar.disabled = true;
        boton_pagar.style.backgroundColor = "#bebed2";
        boton_pagar.style.pointerEvents = "none";
        input_total.disabled = true;
        
        boton_cancelar.disabled = false;
        boton_cancelar.style.backgroundColor = "#b60b0b";
        boton_cancelar.style.cursor = "pointer";

        boton_guardar.disabled = false;
        boton_guardar.style.backgroundColor = "#0d9eff";
        boton_guardar.style.cursor = "pointer";

        input_abonar.disabled = false;
        input_abonar.style.backgroundColor = "white";
        input_abonar.style.borderColor = "#0d0391";
        input_abonar.focus();
    }

    function cancelar_abono(){
        let boton_cancelar2 = document.getElementById("boton-cancelar-abono");
        let boton_activar2 = document.getElementById("boton-activar-abono");
        let boton_guardar2 = document.getElementById("boton-guardar-abono");
        let input_abonar2 = document.getElementById("cantidad-abonar");
        let boton_pagar2 = document.getElementById("boton-guardar-recibo");
        let input_total2 = document.getElementById("input-total");
        boton_activar2.disabled = false;
        boton_activar2.style.backgroundColor = "#0d0391";
        boton_activar2.style.pointerEvents = "auto";
        
        boton_cancelar2.disabled = true;
        boton_cancelar2.style.cursor= "";
        boton_cancelar2.style.backgroundColor = "#bebed2";
        
        boton_guardar2.disabled = true;
        boton_guardar2.style.cursor = "";
        boton_guardar2.style.backgroundColor = "#bebed2";
        
        input_abonar2.disabled = true;
        input_abonar2.style.backgroundColor = "#bebed2";
        input_abonar2.style.borderColor = "#bebed2";
        input_abonar2.value = "";
        boton_pagar2.disabled = false;
        boton_pagar2.style.backgroundColor = "#0d9eff";
        boton_pagar2.style.pointerEvents = "auto";
        input_total2.disabled = false;
    }

    function guadar_abono(){
        let input_total3 = document.getElementById("input-total").value;
        if (input_total3!=0){
            let medicion = facturas_procesadas.length;
            if (medicion>1){
                document.getElementById("error-abono").style.display="flex";
            setTimeout(function(){
                document.getElementById("error-abono").style.display="none";
            },3000);
            }
            else{
                let monto_alto = input_total3.replace(",","");
                if(document.getElementById("cantidad-abonar").value==0){
                    document.getElementById("error-abono-0").style.display="flex";
                    document.getElementById("error-abono-0").innerHTML = "ESTE CAMPO DEBE SER MAYOR A 0";
            setTimeout(function(){
                document.getElementById("error-abono-0").style.display="none";
            },3000);
                }
                else if(document.getElementById("cantidad-abonar").value >= Number(monto_alto)){
                    document.getElementById("error-abono-0").style.display="flex";
                    document.getElementById("error-abono-0").innerHTML = "NO PUEDE SER MAYOR O IGUAL AL TOTAL DE LA FACTURA";
            setTimeout(function(){
                document.getElementById("error-abono-0").style.display="none";
            },3000);
                }
                else{

                
                let cantidad_abonar = document.getElementById("cantidad-abonar").value;
                    
            document.getElementById("mensaje-abono").style.display="flex";
            document.getElementById("mensaje-abonar").innerHTML = new Intl.NumberFormat('en-US').format(cantidad_abonar);
            
            let boton_cancelar_abono = document.getElementById("mensaje-cancelar-abono");
            let boton_pagar_abono = document.getElementById("mensaje-total-abonar");
            boton_cancelar_abono.addEventListener("click",function(){
                document.getElementById("mensaje-abono").style.display="none";
            });

            boton_pagar_abono.addEventListener("click", function(){
                enviar_abono_json();
            } );
            }
            }
        }
        else{
            document.getElementById("error-procesar-abono").style.display="flex";
            setTimeout(function(){
                document.getElementById("error-procesar-abono").style.display="none";
            },3000);
        }
    }

    function enviar_abono_json(){
        factura_abonar["idcliente"] =  document.getElementById("id-cliente-recibo").value
            factura_abonar["fecha_abono"] = document.getElementById("fecha_recibo").value;
            factura_abonar["monto_abono"] = document.getElementById("cantidad-abonar").value;
            factura_abonar["factura"] = organizar;
            
            fetch('http://localhost:5000/abonar', {
                headers : {
                    'Content-Type' : 'application/json'
                },
                method : 'POST',
                body : JSON.stringify(factura_abonar)
            });
    }
     conexion_json();
</script>

{% endblock %}